# .coveragerc
[run]
# Measure coverage only for code under the "trading" package:
source = src

# Exclude some lines/patterns (optional)
omit =
    */__init__.py

[report]
# Show missing lines of code
show_missing = True
